.mat-card-header{
    padding:5px !important;
}

.mat-card-title {
    font-size: 30px !important;
}

.mat-card{
    padding: 0 !important;

}

.mat-card-content{
    padding: 5px !important;
}

.results {
    margin-top: 50px;
}

.result {
    margin-bottom: 30px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    margin-bottom: 20px;
}

.table td {
    text-align: center;
    }