<div class="results">
    <div class="info">
        <span>There are {{count}} duplicate city with different countries. You can add a country to check exactly the weather at that location</span>
    </div>

    <div class="result" *ngFor="let weather of weathers; index as i">
        <mat-card class="result">
            <mat-card-header style="background-color: gold;">
                <mat-card-title>{{weather.name}} - {{weather.sys.country}}</mat-card-title>
                <mat-card-subtitle>
                    <span>{{weather.weather[0].main}}</span>
                    <span>this is tempature and its dynamic icon</span>
                    <span>{{weather.main.temp}} degree</span>
                    <mat-icon>sunny</mat-icon>
                </mat-card-subtitle>
    
            </mat-card-header>
            <mat-card-content>
                <table>
                    <tr>
                        <th class="text-center">
                            <mat-icon>air</mat-icon>
                        </th>
                        <th class="text-center">
                            <mat-icon>cloud</mat-icon>
                        </th>
                        <th class="text-center">
                            <mat-icon>shower</mat-icon>
                        </th>
                        <th class="text-center">
                            <mat-icon>ac_unit</mat-icon>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>Speed:</strong> {{weather.wind.speed}} m/s
                        </td>
                        <td>
                            <strong>Cloudiness:</strong> {{weather.clouds.all}} %
                        </td>
                        <td>
                            <strong>Rain precipitation</strong> {{weather.rain}} %
                        </td>
                        <td>
                            <strong>Snow precipitation</strong> {{weather.snow}}%
                        </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>