

.searching-container {
    display: flex;
}

.searching-form {
    color: #333333;
    font-family: sans-serif;
    margin: 50px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.mat-flat-button {
    background-color: #0000a0;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
}

.mat-stroke-button {
    color: #0000a0;
    font-family: sans-serif;
    font-size: 16px;
}

mat-form-field {
    margin-bottom: 8px;
}

.switch-container {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.single-unit-container {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

::ng-deep.mat-tooltip {
    font-size: 12px !important;
    white-space: pre-line !important;
}
