<div class="switch-container">
    <button mat-stroked-button
            [disabled]="!enableSwitchUnitButton"
            [matMenuTriggerFor]="unitMenu" 
            matTooltip="Switch between standard, metric and imperial units"
            aria-label="Switching between standard, metric and imperial units">
        {{selectedUnit | titlecase}}
        </button>
    <mat-menu #unitMenu="matMenu">
        <button 
            mat-menu-item
            (click)="searchWeathers(standardUnit)">
            <div class="single-unit-container">
                <span><strong>Standard</strong></span>
                <span>K, m/s</span>
            </div>
        </button>
        <button 
            mat-menu-item
            (click)="searchWeathers(metricUnit)">
            <div class="single-unit-container">
                <span><strong>Metric</strong></span>
                <span>°C, m/s</span>
            </div>
        </button>
        <button 
            mat-menu-item
            (click)="searchWeathers(imperialUnit)">
            <div class="single-unit-container">
                <span><strong>Imperial</strong></span>
                <span>°F, mph</span>
            </div>
        </button>
      </mat-menu>
</div>
<div class="searching-container">
    <form class="searching-form">
        <mat-form-field>
            <mat-label>Search for a city or country</mat-label>
            <input 
                matInput 
                placeholder="Helsinki"
                name="city"
                required
                [formControl]="location">
            <mat-icon matPrefix>search</mat-icon>
            <mat-error *ngIf="location.hasError('required')">You should search for a city first!</mat-error>
        </mat-form-field>
        <button 
            mat-flat-button
            [disabled]="!location.value || location.hasError('required')"
            (click)="searchWeathers()">
            Search
        </button>
    </form>
</div>
